<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bassemtaher.smartattendance">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="com.android.hardware.Camera.focus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/modern"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Subjects" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity" />
        android:screenOrientation="portrait"
        tools:replace="screenOrientation">
        <activity android:name=".Generator" />
        <activity android:name=".loginStudent" />
        <activity android:name=".scanActivity" />
        <activity android:name=".LoginDr" />
        <activity android:name=".Yers" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>